<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}KPCC Ride Helper{% endblock %}</title>
    <!-- Bootstrap CSS resources -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>

        .nav-pills > li.ok > a,
        .nav-pills > li.ok > a:hover,
        .nav-pills > li.ok > a:focus {
           color: #fff;
           background-color: #4DB84D;
        }
        .nav-pills > li.cancelled > a,
        .nav-pills > li.cancelled > a:hover,
        .nav-pills > li.cancelled > a:focus {
           color: #fff;
           background-color: #ff8080;
        }

    </style>

    <link href="{% static 'rides/rides.css' %}" rel="stylesheet">
</head>
<body>
{% load humanize %}
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KPCC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'rides:index' %}">Home</a></li>
                    {% block curnavpage %}{% endblock %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">{{ request.user.username }}</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</div>
   <!--    jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>