<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}KPCC Ride Helper{% endblock %}</title>
    <!-- Bootstrap CSS resources -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--    jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
{% load humanize %}
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-targe="#navbar"
                        aria-expanded="false" aria-controls="navbar"></button>
                <a class="navbar-brand" href="#">KPCC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'rides:index' %}">Home</a></li>
                    {% block curnavpage %}{% endblock %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">{{ request.user.username }}</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</div>
</body>
</html>