{% extends "rides/base.html" %}
{% comment %}{% block curnavpage %}<li><a href="#" class="active">Cancel Ride</a></li>{% endblock %}{% endcomment %}
{% block content %}
{% load humanize %}
        <h1>{{ rides.ride_date|naturalday|title }}'s Ride</h1>
        <table class="table-striped">
            <tr><td>Date</td><td>{{rides.ride_date}}</td></tr>
            <tr><td>Destination</td><td>{{rides.ride_destination}}</td></tr>
        </table>
        <div class="form-group">
            <form action="{% url 'rides:cancel_ride' rides.id %}" method="post">
                {% csrf_token %}
                {% for cancellation in cancellations %}
                    <div class="radio">
                        <label><input type="radio" name="cancel_reason" id="cancel{{ cancellation.id }}" value="{{ cancellation.id}}">
                        {{ cancellation.reason }}</label></div>
                {% endfor %}
                <button type="submit" class="btn btn-danger">Cancel</button>

            </form>
        </div>
        {% if rides.ride_cancelled != None %}
        <div class="form-group">
            <form action="{% url 'rides:un-cancel_ride' rides.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Un-Cancel</button>
            </form>
        </div>
        {% endif %}

{% endblock %}