{% extends "rides/base.html" %}
{% block content %}
{% load humanize %}
<h1>KPCC Rides Helper</h1>
    <ul class="nav nav-pills nav-stacked">
        {% for ride in rides %}
            <li {% if forloop.first %} class="active" {% endif %}>
                <a href="{% url 'rides:cancel_detail' ride.id%}">{{ ride.ride_date|naturalday|title }}: {{ride.ride_destination}}
                    {% if ride.ride_cancelled != None %}(Cancelled by {{ ride.ride_cancelled_by.username }}) {% endif %}
                </a></li>
        {% endfor %}
    </ul>
{% endblock %}
